{{page-title "ProjectScreenshots"}}
<div class="screen_shots">
   

   <div class="single-screenshot-container">
        <div class="scrnshot-container">
            <h1 class="title">Project Structure</h1>
            <img src="/naveen/image2.png">
            <p class="caption ">This image depicts the overall organization of the testing project files and folders. It can help someone understand how the test scripts, data, configuration files, and other project elements are arranged. By looking at the folder structure, we can potentially identify the types of tests being conducted (e.g., unit tests, integration tests, API tests) and how the test suite is organized.</p>
        </div>
         <div class="scrnshot-container">
             <h1 class="title">Report</h1>
            <img src="/naveen/image1.png">
            <p class="caption ">This is a comprehensive report detailing the test results for specific criteria. It provides an in-depth analysis of the performance, accuracy, and reliability of the tested items, ensuring that all necessary aspects have been thoroughly evaluated. Whether you're looking for insights into the strengths and weaknesses or simply an overview of the outcomes, this report covers it all.</p>
        </div>
         <div class="scrnshot-container">
             <h1 class="title">Overall Report</h1>
            <img src="/naveen/image3.png">
            <p class="caption ">This image presents the total testing reports, offering a thorough overview of the application's performance. It encapsulates all the key findings, metrics, and results from the extensive testing process.Dive into the detailed analysis and understand the overall health and efficiency of the application through this comprehensive report.</p>
        </div>
   </div>

</div>


{{outlet}}