{{yield}}

{{#if (conditions "==" @isloading "true")}}
<div class="loading">
       <div class="spinner-box">
        <div class="circle-border">
            <div class="circle-core"></div>
        </div>  
    </div>
</div>
{{/if}}